body {
    background-image: url(https://wallpaper-gallery.net/images/blue-wallpaper-abstract/blue-wallpaper-abstract-5.jpg);
}
#sky {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 2000%;
   font-style: normal;
   text-align: center;
   color: skyblue
}