body {
    background-image: url(https://cdn.clipart.email/98b8348023d6a9d2eb28c346bea1c468_28-collection-of-midnight-sky-clipart-high-quality-free-_2560-1600.jpeg);
image-resolution: 1920 x 1080
}

.sky {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1500%;
   font-style: bold;
   text-align: center;
   color: skyblue;
   text-decoration-style: wavy;
}

.btn {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    color: darkblue;
  }
  
  .btn:hover {color:black}


